doctype html
html(style='overflow:visible')
  head
    title=title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/angularjs-color-picker/dist/angularjs-color-picker.min.css")
    link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/winjs/css/ui-light.min.css')
    link(rel='stylesheet', href='angular-bootstrap-colorpicker/css/colorpicker.css')
    script(src="/jquery/dist/jquery.min.js")
    script(src='/angular/angular.js')
    script(src='/angular-route/angular-route.js')
    script(src="/tinycolor2/dist/tinycolor-min.js")
    script(src="/angularjs-color-picker/dist/angularjs-color-picker.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    script(src="/winjs/js/base.js")
    script(src="/winjs/js/ui.js")
    script(src="/angular-winjs/js/angular-winjs.js")
    script(src='angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js')
    script(src='/javascripts/nodeledApp.js')
    script(src='/javascripts/ledController.js')
    
  body(ng-app='NodeLed')

    // Menu goes here
    div(id='menu' style="padding-bottom:10px")
        a(href='#/leds') Led Grid&nbsp;&nbsp;
        a(href='#/ledstrip') Led Strip
  
    div(ng-view)


   