doctype html
html
  head
    title=title
    link(rel="stylesheet" href="/angularjs-color-picker/dist/angularjs-color-picker.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/jquery/dist/jquery.min.js")
    script(src='/angular/angular.js')
    script(src='/angular-route/angular-route.js')
    script(src="/tinycolor2/dist/tinycolor-min.js")
    script(src="/angularjs-color-picker/dist/angularjs-color-picker.min.js")
    script(src='/javascripts/nodeledApp.js')
    script(src='/javascripts/ledController.js')
    
  body(ng-app='NodeLed')
    h1= title
 
    div(ng-view)

   