div(ng-controller="ledController")
    span Edit Leds
    br
    table(drag-select drag-select-ids="ids")
        tbody()
            tr(ng-repeat='ledrow in leds')
                td(ng-repeat='led in ledrow' ng-style='{ "background-color" : led.rgb}' ng-model='led.rgb' id='{{led.id}}' ng-click='tdclick(this)')
                     
    br
    color-picker(id="colorPicker1" color-picker-swatch-only="true" color-picker-format="'rgb'" color-picker-alpha="false" ng-model="selectedColour") 
    | Colour Picker
    br
    br
    input(ng-click='suck()' type='button' value='Send' width='30px')
    br
    br
    input(type='input' ng-model='brightness' style='width:20px')
    br
    br
    textarea(ng-model='ledstring' rows='6' cols='70' )