div(ng-controller="ledController")
    span Leds page goes here
    br
    br
    span {{name}}
    br
    br
    table(class='')
        tbody(ng-repeat='ledrow in leds')
            tr
                td(ng-repeat='led in ledrow') {{ led.id }} 
                    input(id='{{led.id}}' value='{{led.rgb}}' ng-click='')
                